@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpellLista</title>


    <link rel="stylesheet" href="~/css/footer.css">
</head>
<body>

    <header>
        <nav>
            <div class="navbar">
                <a class="navbar-loggo" href="#">Robbans Arkad</a>
                <div class="nav-buttons">
                    <ul class="navbar-ul">

                        <li class="nav-item"><a class="nav-link btn btn-primary" href="@Url.Action("Userspel", "Spel")">Gå till användarvy</a></li>

                        <li class="nav-item"><a href="#">Event/</a></li>
                        <li class="nav-item"><a href="#">Om oss/</a></li>
                        <li class="nav-item"><a href="#">Hallar/</a></li>
                        <li class="nav-item"><a href="#">Mat & Dricka</a></li>
                    </ul>
                </div>
                <div class="right-buttons">
                    <a class="btn-boka" href="#">Boka</a>
                    <div class="menu-container">
                        <label for="menu-toggle" class="menu-button">☰</label>
                        <input type="checkbox" id="menu-toggle">
                        <nav class="menu">
                            <label for="menu-toggle" class="menu-button">✖</label>
                            <a href="#">Event</a>
                            <a href="#">Om oss</a>
                            <a href="#">Hallar</a>
                            <a href="#">Spel</a>
                            <a href="#">Mat & Dricka</a>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="info">&#128205; Pixelvägen 8, 123 45 Spelstaden | &#128222; 123-456 789 | &#128231; <a href="mailto:info@robbansarkad.se">info@robbansarkad.se</a></div>
        <div>Följ oss på <a href="#">Instagram</a>, <a href="#">Facebook</a> & <a href="#">Twitter</a></div>
    </footer>

</body>
</html>
